{% extends "mysite/site_base.html" %}
{% load static %}

{% block page_title %}Obsolete Projects{% endblock page_title %}
{% block extra_head%}
{{ block.super }}
{% endblock extra_head %}
{% block body %}

<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
 
<div class="container">
  <div>
    <p>The goal of this project is it show off some simple data visualization skills. Data was obtained from Kaggle.com(add link)</p>
    <p>This visual or data is not meant as a personal political statement. I just felt it was interesting information to display on my page.</p>
    <p>If this triggered you, please don't shoot me...</p>
  </div>
  <div class="container">
      <iframe src="https://obsolete-panda-data.s3.us-east-2.amazonaws.com/data-vis/gun_violence.html" frameborder="0" width="100%" height="1000"></iframe>
  </div>
</div>

{% endblock body %}

{% block extra_scripts %}
{{ block.super }}
{% endblock extra_scripts%}