{% extends "mysite/site_base.html" %}
{% load static %}

{% block page_title %}ObsoletePanda{% endblock page_title %}
{% block extra_head%}
{{ block.super }}
{% endblock extra_head %}
{% block body %}
<!-- Add your content of header -->
<!-- Add your site or app content here -->
<!--<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">-->
<div class="container">
    <img src="{% static 'mysite/images/GeometricPanda.svg' %}" alt="">
    <div class="container">
        <div class="fullbox">
            <div class="center-intro">
              <p>Welcome</p>
            </div>
        </div>
    </div>
</div>

{% endblock body %}

{% block extra_scripts %}
{{ block.super }}
{% endblock extra_scripts%}

</html>