{% extends "mysite/site_base.html" %}
{% load static %}

{% block page_title %}Obsolete Projects{% endblock page_title %}
{% block extra_head%}
{{ block.super }}
{% endblock extra_head %}
{% block body %}

<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->

 <div class="container">
  <img src="{% static 'mysite/images/GeometricPanda.svg' %}" alt="Image of SynthPanda">
  <div class="container">
      <div class="fullbox">
          <div class="center-intro">
            <h2><b>Projects</b></h2>
          </div>
      </div>
  </div>
</div>
<br>
<div class="container">
  <div class="container">
    <a href="/gun-violence" title="" class="black-image-project-hover">
      <img src="{% static 'mysite/images/datamesh.jpg' %}" alt="Photo by Uriel SC on Unsplash" class="img-responsive">
    </a>
    <div class="container">
      <h2>Gun Violence Deaths</h2>
      <p>I whipped together a quick data visualization of gun deaths per state for each month since 2014. 
        Please note this is not meant as a political statement. I simply wanted to show off some data visualization skills with interesting data.</p>
    </div>
  </div>
</div>

{% endblock body %}

{% block extra_scripts %}
{{ block.super }}
{% endblock extra_scripts%}