{% extends "mysite/site_base.html" %}
{% load static %}

{% block page_title %}Obsolete Projects{% endblock page_title %}
{% block extra_head%}
{{ block.super }}
{% endblock extra_head %}
{% block body %}

<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->

 <div class="container">
  <img src="{% static 'mysite/images/GeometricPanda.svg' %}" alt="Image of SynthPanda">
  <div class="container">
      <div class="fullbox">
          <div class="center-intro">
            <p>Projects</p>
          </div>
      </div>
  </div>
</div>
<br>
<div class="container">
  <div>
    <a href="/gun-violence" title="" class="black-image-project-hover">
      <img src="{% static 'mysite/images/work01-hover.jpg' %}" alt="" class="img-responsive">
    </a>
    <div class="card-container card-container-lg">
      <h4>001/006</h4>
      <h3>Fringilla sit amet</h3>
      <p>Nulla facilisi. Vivamus vestibulum, elit in scelerisque ultricies.</p>
      <a href="/gun-violence" title="" class="btn btn-default">Discover</a>
    </div>
  </div>
</div>

{% endblock body %}

{% block extra_scripts %}
{{ block.super }}
{% endblock extra_scripts%}